.link{
    text-decoration: none;
    padding: 20px;
    text-transform: uppercase;
}

.navLink{
   right: 30px;
   display: flex;
   flex-direction: row;
}










@media screen and (max-width: 800px) {

  
  
  
}